<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<body>
<!-- Javascripts -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/instantclick/instantclick.min.js}"></script>
<script th:src="@{/plugins/adminlte/demo.js}"></script>
<script data-no-instant th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/plugins/fastclick/fastclick.js}"></script>
<script th:src="@{/plugins/jquery-sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/plugins/chart/chart.js}"></script>
<script th:src="@{/plugins/layer/layer.js}"></script>
<script data-no-instant>
    /*<![CDATA[*/
    InstantClick.on('change', function (isInitialLoad) {

    });
    InstantClick.init('mousedown');
    /*]]>*/
</script>
</body>
</html>