<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<body>
<!-- Javascripts -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/instantclick/instantclick.min.js}"></script>
<!--<script data-instant src="//lib.baomitu.com/admin-lte/2.4.10/js/adminlte.min.js"></script>-->
<!--<script data-instant src="//lib.baomitu.com/admin-lte/2.4.10/js/demo.js"></script>-->
<!--<script th:src="@{/plugins/adminlte/adminlte.min.js}"></script>-->
<!--<script th:src="@{/plugins/adminlte/adminlte.js}"></script>-->
<script th:src="@{/plugins/adminlte/demo.js}"></script>
<script data-no-instant th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
<script th:src="@{/plugins/fastclick/fastclick.js}"></script>
<script th:src="@{/plugins/jquery-sparkline/jquery.sparkline.min.js}"></script>
<!--<script th:src="@{/plugins/jvectormap/jquery-jvectormap.min.js}"></script>-->
<!--<script th:src="@{/plugins/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>-->
<script th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/plugins/chart/chart.js}"></script>
<script th:src="@{/plugins/layer/layer.js}"></script>
<script data-no-instant>
    /*<![CDATA[*/
    InstantClick.on('change', function (isInitialLoad) {

    });
    InstantClick.init('mousedown');
    /*]]>*/
</script>
</body>
</html>