<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
<body>
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="https://adminlte.io/themes/AdminLTE/dist/img/user1-128x128.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="javascript:void(0);" data-no-instant><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>
        <!--&lt;!&ndash; search form &ndash;&gt;-->
        <!--<form action="#" method="get" class="sidebar-form">-->
            <!--<div class="input-group">-->
                <!--<input type="text" name="q" class="form-control" placeholder="Search...">-->
                <!--<span class="input-group-btn">-->
                <!--<button type="submit" name="search" id="search-btn" class="btn btn-flat">-->
                  <!--<i class="fa fa-search"></i>-->
                <!--</button>-->
              <!--</span>-->
            <!--</div>-->
        <!--</form>-->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">菜单</li>
            <li>
                <a href="https://adminlte.io/docs">
                    <i class="fa fa-home"></i><span>首页</span>
                </a>
            </li>
            <th:block th:each="menu : ${menus}">
                <li th:class="'treeview ' + ${menu.checked ? 'menu-open' : ''}">
                    <a link href="javascript:void(0)">
                        <i th:class="${menu.attributes.icon}"></i>
                        <span th:text="${menu.text}"></span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu" th:style="'display:'+ ${menu.checked ? 'block;':'display;'}">
                        <th:block th:each="cmenu : ${menu.children}">
                            <li th:class="${cmenu.checked ? 'active':''}">
                                <a th:href="${cmenu.attributes.url}">
                                    <i class='fa fa-circle-o'></i>
                                    <th:block th:text="${cmenu.text}"></th:block>
                                </a>
                            </li>
                        </th:block>
                    </ul>
                </li>
            </th:block>
            <li class="header">标签</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>重要</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>警告</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>信息</span></a></li>
        </ul>
    </section>
</aside>
</body>
</html>