<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
<div class="page-sidebar">
    <a class="logo-box" th:href="@{/index}">
        <span>ecaps</span>
        <i class="icon-radio_button_unchecked" id="fixed-sidebar-toggle-button"></i>
        <i class="icon-close" id="sidebar-toggle-button-close"></i>
    </a>
    <div class="page-sidebar-inner">
        <div class="page-sidebar-menu">
            <ul class="accordion-menu">
                <th:block th:each="menu : ${menus}">
                    <li th:class="${menu.checked ? 'open' : ''}">
                        <a href="javascript:void(0)">
                            <i class="fa fa fa-bar-chart-o" th:class="${menu.attributes.icon}"></i>
                            <span th:text="${menu.text}">UI 套件</span>
                            <i class="accordion-icon fa fa-angle-left"></i>
                        </a>
                        <ul class="sub-menu" th:style="'display:'+ ${menu.checked ? 'block;':'display;'}">
                            <th:block th:each="cmenu : ${menu.children}">
                                <li th:class="${menu.checked ? 'animation' : ''}">
                                    <a th:class="${cmenu.checked ? 'active':''}" th:text="${cmenu.text}" th:href="${cmenu.attributes.url}">按钮</a>
                                </li>
                            </th:block>
                        </ul>
                    </li>
                </th:block>
                <li class="menu-divider"></li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="menu-icon icon-help_outline"></i><span>文档</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="menu-icon icon-public"></i>
                        <span>变更日志</span>
                        <span class="label label-danger">1.0</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</html>