<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/common/include::header-meta('${classname}-新增')"></head>
<body class="skin-black-light sidebar-mini">
<header th:replace="/common/include::header-body"></header>
<!-- Left side column. contains the logo and sidebar -->
<aside th:replace="/common/include::sidebar"></aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 835px;">
    <!--页面导航-->
    <section class="content-header"><h1>
        ${classname}
        <small>新增</small>
    </h1>
        <!-- breadcrumb start -->
        <!-- breadcrumb end -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">创建</h3>
                        <div class="box-tools">
                            <div class="btn-group pull-right" style="margin-right: 10px">
                                <a href="/${pathName}/${classname}" class="btn btn-sm btn-default">
                                    <i class="fa fa-list"></i>&nbsp;列表
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" id="${classname}SaveFrom">
                        <div class="box-body">
                        #foreach($column in $columns)
                        #if($column.columnName != $pk.columnName)
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                <em class="text-danger">* </em>${column.comments}
                            </label>
                            <div class="col-sm-8">
                                <input name="${column.attrname}" class="form-control" type="text" placeholder="请输入${column.comments}">
                            </div>
                        </div>
                        #end
                        #end
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="col-sm-10">
                                <input type="button" class="btn btn-info pull-right" onclick="save()" value="保存"/>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<footer th:replace="common/include::footer"></footer>
</div>
</body>
<th:block th:replace="common/include::js-fragment" ></th:block>
<script>
    function save() {
        $.ajax({
            url:'/${pathName}/${classname}/save',
            type : "POST",
            data : $('#${classname}SaveFrom').serialize(),
            success:function (data) {
                layer.alert(data.msg, {skin: 'layui-layer-lan', closeBtn: 0});
            }
        });
    }
</script>
</html>