package ${package}.dao;

import ${package}.model.${className};

import java.util.List;
import java.util.Map;

import org.apache.ibatis.annotations.Mapper;


@Mapper
public interface ${className}Dao {

	${className} select${className}ByID(${pk.attrType} ${pk.attrname});

    List<${className}> select${className}ByPage(Map<String, Object> map);

    int count${className}Record(Map<String, Object> map);

    int save${className}(${className} ${classname});

    int update${className}(${className} ${classname});

    int remove${className}(${pk.attrType} ${pk.columnName});

}
