<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head th:replace="common/include::header-meta('${classname}-修改')"></head>
<body class="skin-black-light sidebar-mini">
<header th:replace="common/include::header-body"></header>
<!-- Left side column. contains the logo and sidebar -->
<aside th:replace="common/include::sidebar"></aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 835px;">
    <!--页面导航-->
    <section class="content-header"><h1>
        ${classname}
        <small>修改</small>
    </h1>
        <!-- breadcrumb start -->
        <!-- breadcrumb end -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">修改</h3>
                        <div class="box-tools">
                            <div class="btn-group pull-right" style="margin-right: 10px">
                                <a href="/${pathName}/${classname}" class="btn btn-sm btn-default">
                                    <i class="fa fa-list"></i>&nbsp;列表
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" id="${classname}EditForm">
                        <div class="box-body">
                            <input name="${pk.columnName}" th:value="${${classname}.${pk.columnName}}"  type="hidden"/>
                            #foreach($column in $columns)
                            #if($column.columnName != $pk.columnName)
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <em class="text-danger">* </em>${column.comments}
                                </label>
                                <div class="col-sm-8">
                                    <input name="${column.attrname}" th:value="${${classname}.${column.attrname}}" class="form-control">
                                </div>
                            </div>
                            #end
                            #end
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="col-sm-10">
                                <input type="button" class="btn btn-info pull-right" onclick="update()" value="保存"/>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<footer th:replace="common/include::footer"></footer>
</div>
</body>
<th:block th:replace="common/include::js-fragment" ></th:block>
<script>
    function update() {
        $.ajax({
            url:'/${pathName}/${classname}/update',
            data:$("#${classname}EditForm").serializeArray(),
            method:'POST',
            success:function (data) {
                layer.alert(data.msg, {skin: 'layui-layer-lan', closeBtn: 0});
            }
        })
    }
</script>
</html>