<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/common/include::header-meta('生成策略-修改')"></head>
<body class="skin-black-light sidebar-mini">
<header th:replace="/common/include::header-body"></header>
<!-- Left side column. contains the logo and sidebar -->
<aside th:replace="/common/include::sidebar"></aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 835px;">
    <!--页面导航-->
    <section class="content-header"><h1>
        生成策略
        <small>修改</small>
    </h1>
        <!-- breadcrumb start -->
        <!-- breadcrumb end -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">修改</h3>
                        <div class="box-tools">
                            <div class="btn-group pull-right" style="margin-right: 10px">
                                <a href="/sys/generator" class="btn btn-sm btn-default">
                                    <i class="fa fa-list"></i>&nbsp;列表
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" id="codeEditForm">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <em class="text-danger">* </em>作者
                                </label>
                                <div class="col-sm-8">
                                    <input name="author" class="form-control" th:value="${property.author}" placeholder="请输入作者">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <em class="text-danger">* </em>邮箱
                                </label>
                                <div class="col-sm-8">
                                    <input name="email" type="email" class="form-control" th:value="${property.email}" readonly placeholder="请输入邮箱">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <em class="text-danger">* </em>包名
                                </label>
                                <div class="col-sm-8">
                                    <input name="package" th:value="${property.package}" class="form-control" placeholder="请输入包名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <em class="text-danger">* </em>自动去掉表前缀
                                </label>
                                <div class="col-sm-8">
                                    <input name="autoRemovePre" type="checkbox" value="true"
                                           th:checked="${property.autoRemovePre}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <em class="text-danger">* </em>去掉指定表前缀
                                </label>
                                <div class="col-sm-8">
                                    <input name="tablePrefix" th:value="${property.tablePrefix}" class="form-control" placeholder="请输入前缀">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="col-sm-10">
                                <input type="button" class="btn btn-info pull-right" onclick="update()" value="保存"/>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<footer th:replace="common/include::footer"></footer>
</div>
</body>
<th:block th:replace="common/include::js-fragment" ></th:block>
<script>
    function update() {
        $.ajax({
            type : "POST",
            url : "/sys/generator/update",
            data : $('#codeEditForm').serialize(),// 你的formid
            success : function(data) {
                layer.alert(data.msg, {skin: 'layui-layer-lan', closeBtn: 0});
            }
        });

    }
</script>
</html>