<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head th:replace="/common/include::header-meta('代码生成')"></head>
<body class="skin-black-light sidebar-mini">
<header th:replace="/common/include::header-body"></header>
<!-- Left side column. contains the logo and sidebar -->
<aside th:replace="/common/include::sidebar"></aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 835px;">
    <!--页面导航-->
    <section class="content-header"><h1>
        代码生成
        <small>列表</small>
    </h1>
        <!-- breadcrumb start -->
        <!-- breadcrumb end -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                        <div class="pull-right">
                            <div class="btn-group pull-right" style="margin-right: 10px">
                                <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#filter-modal"><i class="fa fa-filter"></i>&nbsp;&nbsp;筛选</button>
                                <a id="refresh" th:href="@{/sys/generator}" class="btn btn-sm btn-facebook">
                                    <i class="fa fa-undo"></i>&nbsp;&nbsp;刷新
                                </a>
                            </div>

                            <div class="modal fade" id="filter-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                                <span class="sr-only">Close</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">筛选</h4>
                                        </div>
                                        <form th:action="@{/sys/user}" method="get">
                                            <div class="modal-body">
                                                <div class="form">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <label>姓名</label>
                                                            <div class="input-group">
                                                                <div class="input-group-addon">
                                                                    <i class="fa fa-pencil"></i>
                                                                </div>
                                                                <input type="text" class="form-control" placeholder="请输入姓名" name="name" th:value="${name}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary submit">提交</button>
                                                <button type="reset" class="btn btn-warning pull-left">重置</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group pull-right" style="margin-right: 10px">
                                <a class="btn btn-sm btn-twitter"><i class="fa fa-download"></i>导出</a>
                                <button type="button" class="btn btn-sm btn-twitter dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="" target="_blank">全部</a></li>
                                    <li><a href="" target="_blank">当前页</a></li>
                                    <li><a href="" target="_blank" class="export-selected">选择的行</a></li>
                                </ul>
                            </div>
                            &nbsp;&nbsp;
                        </div>
                        <span shiro:hasPermission="sys:user:add">
                           <a class="btn btn-sm btn-success" href="javascript:void(0);">
                               <i class="fa fa-wrench" aria-hidden="true"></i>生成策略
                           </a>
                        </span>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover text-center">
                            <tbody>
                            <tr>
                                <th>表名称</th>
                                <th>engine</th>
                                <th>表描述</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            <th:block th:each="code :${codeList}">
                                <tr>
                                    <td th:text="${code.tableName}"></td>
                                    <td th:text="${code.engine}"></td>
                                    <td th:text="${code.tableComment}"></td>
                                    <td th:text="${code.createTime}"></td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" th:href="@{'/sys/user/edit/'+${code.tableName}}">
                                            <i class="fa fa-code "></i>
                                        </a>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                    <!--&lt;!&ndash;page box footer&ndash;&gt;-->
                    <!--<div th:replace="/common/macros::pageNav(${pageInfo})"></div>-->
                </div>
            </div>
        </div>
    </section>
</div>
<footer th:replace="common/include::footer"></footer>
</div>
</body>
<th:block th:replace="common/include::js-fragment" ></th:block>
<script>
    function remove(id) {
        layer.confirm('确定要删除选中的记录？', {
            btn : [ '确定', '取消' ]
        }, function() {
            $.ajax({
                url:'/sys/user/remove',
                data:{
                    "id":id,
                },
                method:'POST',
                success:function (data) {
                    if(0 == data.code) {
                        document.getElementById("refresh").click();
                    }else{
                        layer.msg(data.msg,{"icon":2});
                    }
                }
            })
        });
    }
</script>
</html>