package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Map;

import ${package}.dao.${className}Dao;
import ${package}.model.${className};
import ${package}.service.${className}Service;


/**
 * Generator code
 */
@Service
public class ${className}ServiceImpl implements ${className}Service {
	@Autowired
	private ${className}Dao ${classname}Dao;
	
	@Override
	public ${className} select${classname}ByID(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.select${classname}ByID(${pk.attrname});
	}
	
	@Override
	public List<${className}> select${classname}ByPage(Map<String, Object> map){
		return ${classname}Dao.select${classname}ByPage(map);
	}
	
	@Override
	public int count(Map<String, Object> map){
		return ${classname}Dao.count${classname}Record(map);
	}
	
	@Override
	public int save(${className} ${classname}){
		return ${classname}Dao.save${classname}(${classname});
	}
	
	@Override
	public int update(${className} ${classname}){
		return ${classname}Dao.update${classname}(${classname});
	}
	
	@Override
	public int remove(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.remove${classname}(${pk.attrname});
	}
	
}
