package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Map;

import ${package}.dao.${className}Dao;
import ${package}.model.${className};
import ${package}.service.${className}Service;


/**
 * Generator code
 */
@Service
public class ${className}ServiceImpl implements ${className}Service {

    @Autowired
    private ${className}Dao ${classname}Dao;

    @Override
    public ${className} select${className}ByID(${pk.attrType} ${pk.attrname}) {
        return ${classname}Dao.select${className}ByID(${pk.attrname});
    }

    @Override
    public List<${className}> select${className}ByPage(Map<String, Object> map) {
        return ${classname}Dao.select${className}ByPage(map);
    }

    @Override
    public int count${className}Record(Map<String, Object> map) {
        return ${classname}Dao.count${className}Record(map);
    }

    @Override
    public int save${className}(${className} ${classname}) {
        return ${classname}Dao.save${className}(${classname});
    }

    @Override
    public int update${className}(${className} ${classname}) {
        return ${classname}Dao.update${className}(${classname});
    }

    @Override
    public int remove${className}(${pk.attrType} ${pk.attrname}) {
        return ${classname}Dao.remove${className}(${pk.attrname});
    }

}
