package ${package}.service;

import ${package}.model.${className};

import java.util.List;
import java.util.Map;

/**
 * Generator code
 */
public interface ${className}Service {
	
	${className} select${classname}ByID(${pk.attrType} ${pk.attrname});
	
	List<${className}> select${classname}ByPage(Map<String, Object> map);
	
	int count${className}Record(Map<String, Object> map);
	
	int save${className}(${className} ${classname});
	
	int update${className}(${className} ${classname});
	
	int remove${className}(${pk.attrType} ${pk.attrname});
	
}
