<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yaa.cms.dao.SysRoleDao" >
  <resultMap id="BaseResultMap" type="com.yaa.cms.model.SysRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sign" property="sign" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, sign, remark, create_time
  </sql>
  <select id="selectRoleByID" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="saveRole" parameterType="com.yaa.cms.model.SysRole" useGeneratedKeys="true" keyProperty="id">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sign != null" >
        sign,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateRole" parameterType="com.yaa.cms.model.SysRole" >
    update sys_role
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectRoleList" resultMap="BaseResultMap">
    select * from sys_role
    <where>
      <if test="id != null and id != ''"> and id = #{id} </if>
      <if test="name != null and name != ''"> and name = #{name} </if>
      <if test="sign != null and sign != ''"> and sign = #{sign} </if>
      <if test="remark != null and remark != ''"> and remark = #{remark} </if>
    </where>
  </select>
  <delete id="removeRole" parameterType="java.lang.Integer">
    delete from sys_role where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="batchRemoveRole">
    delete from sys_role where id in
    <foreach item="roleId" collection="array" open="(" separator=","
             close=")">
      #{roleId}
    </foreach>
  </delete>
  <insert id="batchSave">
    INSERT INTO sys_user_role(user_id, role_id) values
    <foreach item="item" index="index" collection="list"
             separator=",">
      (#{item.userId},#{item.roleId})
    </foreach>
  </insert>
</mapper>