<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head th:replace="common/include::header-meta('角色管理-新增')"></head>
<body class="skin-black-light sidebar-mini">
<header th:replace="common/include::header-body"></header>
<link rel="stylesheet" th:href="@{/plugins/jsTree/style.min.css}">
<!-- Left side column. contains the logo and sidebar -->
<aside th:replace="common/include::sidebar"></aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 835px;">
    <!--页面导航-->
    <section class="content-header"><h1>
        角色管理
        <small>新增</small>
    </h1>
        <!-- breadcrumb start -->
        <!-- breadcrumb end -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">创建</h3>
                        <div class="box-tools">
                            <div class="btn-group pull-right" style="margin-right: 10px">
                                <a href="/sys/role" class="btn btn-sm btn-default">
                                    <i class="fa fa-list"></i>&nbsp;列表
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal" id="roleAddFrom">
                        <input id="userId" name="userId" type="hidden">
                        <input id="menuIds" name="menuIds" type="hidden">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <em class="text-danger">* </em>角色名
                                </label>
                                <div class="col-sm-8">
                                    <input id="name" name="name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <em class="text-danger">* </em>权限名称(例：admin)
                                </label>
                                <div class="col-sm-8">
                                    <input id="sign" name="sign" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <em class="text-danger">* </em>备注
                                </label>
                                <div class="col-sm-8">
                                    <input id="remark" name="remark" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <em class="text-danger">* </em>菜单权限
                                </label>
                                <div class="col-sm-8">
                                    <div id="menuTree"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="col-sm-10">
                                <input type="button" class="btn btn-info pull-right" onclick="save()" value="保存"/>
                            </div>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<footer th:replace="common/include::footer"></footer>
</div>
</body>
<th:block th:replace="common/include::js-fragment" ></th:block>
<script>
    var menuIds;
    $(function() {
        getMenuTreeData();
    });
    function getAllSelectNodes() {
        var ref = $('#menuTree').jstree(true); // 获得整个树

        menuIds = ref.get_selected(); // 获得所有选中节点的，返回值为数组

        $("#menuTree").find(".jstree-undetermined").each(function(i, element) {
            menuIds.push($(element).closest('.jstree-node').attr("id"));
        });
    }
    function getMenuTreeData() {
        $.ajax({
            type : "GET",
            url : "/sys/menu/tree",
            success : function(menuTree) {
                loadMenuTree(menuTree);
            }
        });
    }
    function loadMenuTree(menuTree) {
        $('#menuTree').jstree({
            'core' : {
                'data' : menuTree
            },
            "checkbox" : {
                "three_state" : true,
            },
            "plugins" : [ "wholerow", "checkbox" ]
        });
    }

    function save() {
        getAllSelectNodes();
        $('#menuIds').val(menuIds);
        $.ajax({
            type : "POST",
            url : "/sys/role/save",
            data : $('#roleAddFrom').serialize(),
            success : function(data) {
                layer.alert(data.msg, {skin: 'layui-layer-lan', closeBtn: 0});
            }
        });
    }
</script>
</html>