<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head th:replace="common/include::header-meta('用户管理')"></head>
<body class="skin-black-light sidebar-mini">
<header th:replace="common/include::header-body"></header>
<!-- Left side column. contains the logo and sidebar -->
<aside th:replace="common/include::sidebar"></aside>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 835px;">
    <!--页面导航-->
    <section class="content-header"><h1>
        用户管理
        <small>列表</small>
    </h1>
        <!-- breadcrumb start -->
        <!-- breadcrumb end -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
            <div class="box">
                <div class="box-header">

                    <h3 class="box-title"></h3>

                    <div class="pull-right">
                        <div class="btn-group pull-right" style="margin-right: 10px">
                            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#filter-modal"><i class="fa fa-filter"></i>&nbsp;&nbsp;筛选</button>
                            <a id="refresh" th:href="@{/sys/user}" class="btn btn-sm btn-facebook">
                                <i class="fa fa-undo"></i>&nbsp;&nbsp;刷新
                            </a>
                        </div>

                        <div class="modal fade" id="filter-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                            <span class="sr-only">Close</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">筛选</h4>
                                    </div>
                                    <form th:action="@{/sys/user}" method="get">
                                        <div class="modal-body">
                                            <div class="form">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label>姓名</label>
                                                        <div class="input-group">
                                                            <div class="input-group-addon">
                                                                <i class="fa fa-pencil"></i>
                                                            </div>
                                                            <input type="text" class="form-control" placeholder="请输入姓名" name="name" th:value="${name}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary submit">提交</button>
                                            <button type="reset" class="btn btn-warning pull-left">重置</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group pull-right" style="margin-right: 10px">
                            <a class="btn btn-sm btn-twitter"><i class="fa fa-download"></i>导出</a>
                            <button type="button" class="btn btn-sm btn-twitter dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" target="_blank">全部</a></li>
                                <li><a href="" target="_blank">当前页</a></li>
                                <li><a href="" target="_blank" class="export-selected">选择的行</a></li>
                            </ul>
                        </div>
                        &nbsp;&nbsp;
                    </div>
                    <span shiro:hasPermission="sys:user:add">
                       <a class="btn btn-sm btn-success" href="/sys/user/add">
                           <i class="fa fa-plus" aria-hidden="true"></i>添加
                       </a>
                    </span>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover text-center">
                        <tbody>
                        <tr>
                            <th>序号</th>
                            <th>真实姓名</th>
                            <th>用户名(账号)</th>
                            <th>当前角色</th>
                            <th>邮箱</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        <th:block th:each="user :${list}">
                            <tr>
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.roleNames}"></td>
                                <td th:text="${user.email}"></td>
                                <td>
                                    <span th:text="${user.status == 1 ? '正常':'禁用'}"
                                          th:class="'label ' + ${user.status == 1 ? 'label-info':'label-danger'}">
                                        禁用
                                    </span>
                                </td>
                                <td>
                                    <th:block shiro:hasPermission="sys:user:edit">
                                        <a class="btn btn-primary btn-sm" th:href="@{'/sys/user/edit/'+${user.id}}" title="编辑">
                                            <i class="fa fa-edit "></i>
                                        </a>
                                    </th:block>
                                    <th:block shiro:hasPermission="sys:user:remove">
                                        <a class="btn btn-warning btn-sm" th:onclick="'remove(\''+${user.id}+'\')'" title="删除">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </th:block>
                                    <th:block shiro:hasPermission="sys:user:resetPwd">
                                        <a class="btn btn-success btn-sm" th:href="@{'/sys/user/resetPwd/'+${user.id}}" title="重置密码">
                                            <i class="fa fa-key"></i>
                                        </a>
                                    </th:block>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <!--page box footer-->
                <div th:replace="common/macros::pageNav(${pageInfo})"></div>
            </div>
        </div>
        </div>
    </section>
</div>
<footer th:replace="common/include::footer"></footer>
</div>
</body>
<th:block th:replace="common/include::js-fragment" ></th:block>
<script>
    function remove(id) {
        layer.confirm('确定要删除选中的记录？', {
            btn : [ '确定', '取消' ]
        }, function() {
            $.ajax({
                url:'/sys/user/remove',
                data:{
                    "id":id,
                },
                method:'POST',
                success:function (data) {
                    if(0 == data.code) {
                        document.getElementById("refresh").click();
                    }else{
                        layer.msg(data.msg,{"icon":2});
                    }
                }
            })
        });
    }
</script>
</html>